body{
 font-family: Roboto;
 overflow-x: hidden;
 color: #171717;
 margin: 0;
}

#panorama, #panoramavideo {
    width: 100%;
    height: 80vh;
}

.container {
    max-width: 650px;
}
.nota .container-fluid img{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 25px;
    border-bottom: dashed #5b9676;
    border-top: dashed #5e6367;
}
.nota .container-fluid iframe{
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 25px;
}
.pnlm-controls-container{
    /*display: none !important;
    */
}
 




.logo{
    position: absolute;
    z-index: 3;
    left: calc( 50% - 62px );
    top: 30px;
}
.i360{
    position: absolute;
    z-index: 3;
    left: calc( 50% - 33px );
    bottom: 50px;
}

.menu, .menu-over{
    position: fixed;
    top: 80px;
    left: 0px;
    z-index: 2;
    color: #fff !important;
    background-color: #00000099;
    padding-right: 5px;
}
.menu-over .close{
    float: left;
}
.menu a{
    color: #fff !important;
    text-decoration: none !important;
}

.sitios, .sitios-over{
    position: fixed;
    top: 80px;
    right: 0px;
    z-index: 2;
    color: #fff;
}
.sitios-over, .menu-over{
    background-color: #00000099;
    display: none;
}
.menu-over a, .sitios-over a{    
    color: #fff !important;
    font-size: 13px;
    text-decoration: none !important;
    padding-left: 5px;
}
.menu-over a{
    padding-left: 0px;
}

.audio, .galeria, .sitios{    
    color: #fff !important;
    font-size: 13px;
    text-decoration: none !important;
    background-color: #00000099;
    padding-left: 5px;;
}

.audio{
    position: fixed;
    top: 120px;
    right: 0px;
    z-index: 2;
    color: #fff;
}
.galeria{
    position: fixed;
    top: 160px;
    right: 0px;
    z-index: 2;
    color: #fff;
}

.leyenda{
    position: fixed;
    right: 0;
    background-color: #00000099;
    bottom: 100px;
    z-index: 2;
    padding: 10px;
    max-width: 290px;
    color: #fff;
}

.nota{
    background-image: url("/assets/images/fondo.png"), url("/assets/images/fondo.png") ;
    background-repeat: repeat-y, repeat-y;
    background-position: 5% 0%, 95% 0%  ;
}



.contenido {
    width: 70%;
    margin: auto;
}

h1{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5em;
    line-height: 0.8em;
}
h1 .verde{
    color: #5B9676;
}
h1 .gris{
    color: #5E6367;
}
.bajada{
    color: #000;
    margin-top: 20px;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.4;
    font-weight: 700;
}




.closegalleria{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10001;
    color: #fff;
    display: none;
}
.closegalleria img{
    width: 38px;
    height: 38px;
}

#galeriaiframe {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 1005;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: none;
}




.modal-content .close{
    color: #838382;
}
.modal-content{
    color: #838382;
    border-radius: 17px;
    background-color: #ffffffd6;
}
.modal-header{
    padding-bottom: 0px;
    border: none;
}
.modal-body{
    padding-top: 0px;
    color: black;
    margin-top: -10px;
    font-weight: 600;
    font-style: normal;
}
.modal-body h5{
    font-size:37px;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
.modal-body span{
    font-weight: 400;
}

.mobile{
    display: none;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 70%;
        margin: 1.75rem auto;
    }
}


.nota .container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    position: relative;
 }
 .nota .container-fluid audio{
     position: absolute;
     right: 15px;
     bottom: 50px;
 }

 .rounded-icon.white {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*mobile*/
@media (max-width: 576px){
    .desktop{
        display: none;
    }
    #panorama, #panoramavideo {
        width: 100%;
        height: 70vh;
    }
    .container img, .modal-header img {
        max-width: 80%;
    }
    h1{
        font-size: 2.9em;  
    }
    .logo{
        top: 5px;
    }
    .i360{
        bottom: 5px;
    }

    .sitios.mobile, .galeria.mobile, .audio.mobile{
        display: block;
        top: 120px;
        left: 0px;
        display: inline-table;
        padding-left: 0px;
        padding-right: 5px;       
    }
    .sitios.mobile img, .sitios-over.mobile img{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .sitios-over.mobile{
        display: none;
        top: 120px;
        left: 0px;
        padding-left: 0px;
        padding-right: 5px;       
    }
    .sitios-over.mobile .close{
        float: left;
        padding-left: 0px;
    }

    .galeria.mobile{
        top: 200px;
    }
    .audio.mobile{
        top: 160px;
    }
    .leyenda{
        bottom: 50px;
    }

    .nota{
        background-image: url(/assets/images/fondo.png);
        background-repeat: no-repeat;
        background-position: 92% -50px;
        background-size: 30px;
    }

    .closegalleria img{
        width: 32px;
        height: 32px;
    }


    .modal-header {
        padding-bottom: 10px;
    }

    .container-fluid audio{
        bottom: 25px;
        height: 30px;
    }
    iframe.mobile{
        display: block;
    }
}

footer{
    color: #fff;
    background-color: #494B48;
}
footer .creditos{
    text-align: center;
    font-size: 12px;
    padding: 15px;
    padding-bottom: 0px;
}




::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
