body{
 font-family: Roboto;
 overflow-x: hidden;
 color: #838382;
 margin: 0;
}

#panorama {
    width: 100%;
    height: 80vh;
}
.pnlm-controls-container{
    /*display: none !important;
    */
}
 


.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.logo{
    position: absolute;
    z-index: 3;
    left: calc( 50% - 62px );
    top: 30px;
}
.i360{
    position: absolute;
    z-index: 3;
    left: calc( 50% - 62px );
    bottom: 50px;
}

.menu, .menu-over{
    position: fixed;
    top: 80px;
    left: 0px;
    z-index: 2;
    color: #fff;

}
.menu-over .close{
    float: left;
}

.sitios, .sitios-over{
    position: fixed;
    top: 80px;
    right: 0px;
    z-index: 2;
    color: #fff;
}
.sitios-over, .menu-over{
    background-color: #00000099;
    display: none;
}
.menu-over a, .sitios-over a{    
    color: #fff;
    font-size: 13px;
}

.audio{
    position: fixed;
    top: 120px;
    right: 0px;
    z-index: 2;
    color: #fff;
}
.galeria{
    position: fixed;
    top: 160px;
    right: 0px;
    z-index: 2;
    color: #fff;
}

.nota{
    background-image: url("/assets/images/fondo.png"), url("/assets/images/fondo.png") ;
    background-repeat: repeat-y, repeat-y;
    background-position: 5% 0%, 95% 0%  ;
}



.contenido {
    width: 70%;
    margin: auto;
}

h1{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5em;
    line-height: 0.8em;
}
h1 .verde{
    color: #5B9676;
}
h1 .gris{
    color: #5E6367;
}
.bajada{
    margin-top: 20px;
    text-align: justify;
}




.closegalleria{
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 10001;
    color: #fff;
    display: none;
}
.closegalleria img{
    width: 64px;
    height: 64px;
}

#galeriaiframe {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 1005;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: none;
}
